
html,
body {
    height: 100%;
    margin: 0;
}

.code-area {

    height: 70%;

}
.code-area textarea {
    resize: none;
    outline: none;
    width: 100%;
    font-size: 18px;
}
.container-fill-out {
    display: flex;
    flex-flow: column;

}

.preview-area {

    width: 100%;

}

.container {

    display: flex;

}

.container-row {

    flex-direction: row;

}

.fill {

    height: 94%;
    width: 100%;

}




