
html,
body {
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightgray; 
  }

.code-area {

    height: 70%;

}
.code-area textarea {
    resize: none;
    outline: none;
    width: 100%;
    font-size: 18px;
}
.container-fill-out {
    display: flex;
    flex-flow: column;

}

.preview-area {

    width: 100%;

}

.border {

    border: solid;

}

.container {

    display: flex;

}

.container-row {

    flex-direction: row;

}

.fill {

    height: 84%;
    width: 100%;

}

.fixxedheight {

    height: auto;

}




